@import '../../assets/sass/imports';

@include keyframes(spinner) {
  0%   { @include transform(rotate(0deg));   }
  100% { @include transform(rotate(360deg)); }
}

.loading-container {
  @include position(fixed, 0 0 0 0);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  text-align: center;
}

.loading {
  @include animation(spinner 1.5s infinite linear);
  font-size: 50px;
  line-height: 50px;
  color: $white;
}
